@font-face {
  font-family: 'BlenderProBold';
  src: url('./fonts/Blender-Pro-Bold.otf') ;
}
@font-face{
  font-family: 'BlenderProBook';
  src: url('./fonts/BlenderPro-Book.ttf') ;
}


$cyber-blue: #00fed2;
$cyber-dark-blue: #0a5dff;
$cyber-black: #000;
$cyber-red: #fd1630;
$cyber-white: #cdcdcd;
$cyber-yellow: #fff901;
$cyber-purple: #ff399e;
$vidElement-bg: #FE2867;

:root {
  --text-left: #ff399e;
  --text-fly: #ff399e;
  --line1: #34beff;
  --line2: #fff;
  --shadow-text: 0px 0px 10px #ff399e;
  --shadow-lines: 0px 0px 0px;
  --zi-girl-main: 4;
  --zi-girl-side: 3;
  --zi-canvas: 3;
  --zi-bg-stuff: 2;
  --zi-bg-sil: 1;
}


*{
  margin: 0;
  padding: 0;
  place-items: center;
}


// .twitch-card{
//   aspect-ratio: 1/1.6;
//   border: 0.5vmin solid white;
//   cursor: pointer;
//   position: relative;
//   width: 56vmin;
// }

// .twitch-card::before{
//   background: linear-gradient(130deg, 
//   transparent  33%,
//   #5218be 66%,
//   #ab23ab 83.5%,
//   #ab2e59 100%
//   );
//   background-size: 300% 300%;
//   background-position: 0% 0%;
//   transition: background-position 0.5s ease;
// content: "";
// height: 100%;
// left: 0;
// position: absolute;
// top: 0;
// width: 100%;
// }
// .twitch-card:hover::before{
//   background-position: 100% 100%;
//   transform: scale(1.02,1.01);
// }
// .twitch-card-content{
//   position: relative;
//   background: radial-gradient(
//     rgba(255,255,255,0.2) 8%,
//     transparent 8%
//   );
//   background-position: 0% 0%;
//   background-size: 5vmin 5vmin;
//   height: 100%;
//   z-index: 100;
//   width: 100%;
//   transition: background-position 0.5s ease;
// }
// .twitch-card-content:hover{
//   background-position: -10% 0%;
// }

// .bg-dotted-grid{
//   position: relative;
//   background: radial-gradient(
//     rgba(255,255,255,0.2) 10%,
//     transparent 15%
//   );
//   background-position: 0% 0%;
//   background-size: 7px 7px;
//   height: 100%;
//   z-index: 100;
//   width: 100%;
//   // display: grid;
//   // place-items: center;
// }
// .card{
//   width:300px;
//   height: 300px;
//   // display: flex;
//   // background: linear-gradient(0deg, rgba($cyber-blue, 0.1)10%, rgba($onyx, 0.5) 100%);
//   background: linear-gradient(
//     to bottom, 
//     transparent 10%,
//     rgba($cyber-yellow, 0.2) 200%,
//   );
//   border: 1px $cyber-yellow solid;
//   border-radius: 5px;  
//   animation: card-background 1s ease-in-out forwards;
// }
// .card:hover{
//   animation: none;
// }

// @keyframes card-background {
//   0% {
//     background: linear-gradient(
//       to bottom, 
//       transparent 10%,
//       rgba($cyber-blue, 0.1)10%, 
//       rgba($cyber-blue, 0.5) 100%
//     );
//   }
//   100% {
//     background: linear-gradient(
//       to bottom, 
//       rgba($cyber-yellow, 0.5) 10%,
//       rgba($cyber-yellow, 1) 200%
//     );
//   }
// }
// .text-left-container{
//   position: fixed;
//   top: 0;
//   left: -50%;
// }
// .text-left{
//   rotate: -90deg;
//   white-space: nowrap;
//   font-size: 22px;
//   font-weight: 600;
//   animation: text-move 40s linear infinite;
//   color: $cyber-purple;
//   text-shadow: $cyber-purple 0px 0px 10px;
// }
// @keyframes text-move{
//   0%{
//     transform: translateX(50%);
//   }
//   100%{
//     transform: translateX(-110%);
//   }
// }


body{
  background: $cyber-black;
  height: 100vh;
  width: 200vw;
  // color: white;
  padding: 0;
  margin: 0;
  // overflow: hidden;
}

.container{
  width: 100vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $cyber-dark-blue;
  // overflow: hidden; 
  border: 20px solid #0a5dff;
  // transform: rotateX(45deg) rotateY(45deg)  translateX(-50%);
  // animation: container-anim 6s linear infinite;  
}

@keyframes container-anim{
  0%{
    transform: translateX(-50%) ;
  }
  50%{
    transform: translateX(-50%)  rotateX(45deg) rotateY(45deg) ;
  }
  100%{
    transform: translateX(-50%) ;
  }
}


.bg_1_image{
  height: 100%;
  width: 100vw;
  opacity: 50%;
  position: absolute;
  z-index: 1;
}

.page-1{
  height: 100%;
  width: 100vw;
  position: relative;
  z-index: 2;
  // overflow: hidden;
}
.text-left{
  position: fixed;
  left: 45px;
  bottom: 1600px;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-family: 'BlenderProBook';
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: $cyber-purple;
  text-shadow: $cyber-purple 0px 0px 10px;
  text-transform: uppercase;
  white-space: nowrap;
  animation: text-left-anim 30s linear infinite;
}

@keyframes text-left-anim{
  from{
    bottom: 1600px;
  }
  to{
    bottom: -800px;
  }
}

.line-left-1{
  position: absolute;
  left: 80px;
  bottom: -47%;
  width: 20px;
  height: 50%;
  background-color: $cyber-blue;
  transform: skew(45deg, 0) rotateZ(45deg);
  animation: line-left-anim 5s linear infinite;
}

.line-left-2{
  position: absolute;
  left: 80px;
  bottom: -47%;
  width: 20px;
  height: 50%;
  background-color: $cyber-blue;
  transform: skew(45deg, 0) rotateZ(45deg);
  animation: line-left-anim  5s linear infinite;
  animation-delay: 2.5s;
}

.small-line-1{
  position: absolute;
  left: 80px;
  bottom: 0%; //-47%;
  width: 20px;
  height: 2%;
  background-color: $cyber-blue;
  transform: skew(45deg, 0) rotateZ(45deg);
  animation: left-line-blink 4s linear infinite;
}
.small-line-2{
  position: absolute;
  left: 80px;
  bottom: 3%; //-47%;
  width: 20px;
  height: 2%;
  background-color: $cyber-blue;
  transform: skew(45deg, 0) rotateZ(45deg);
  animation: left-line-blink  4s linear infinite;
  animation-delay: 200ms;
}
.small-line-3{
  position: absolute;
  left: 80px;
  bottom: 6%; //-47%;
  width: 20px;
  height: 2%;
  background-color: $cyber-blue;
  transform: skew(45deg, 0) rotateZ(45deg);
  animation: left-line-blink 4s linear infinite;
  animation-delay: 400ms;
}


@keyframes line-left-anim{
  0%{
    bottom: -47%;
  }
  100%{
    bottom: 100%;
  }
}

@keyframes left-line-blink{
  0%{
    // opacity: 0;
    bottom: -47%;
  }
  50%{
    // opacity: 1;
  }
  100%{
    // opacity: 0;
    bottom: 100%;
  }
}


.hello-text-container{
  position: absolute;
  left: 160px;
  bottom: -387%;
  overflow: hidden;
  animation : hello-text-anim 60s linear infinite;
}

.hello-text{
  font-family: 'BlenderProBold';
  font-size: 160px;
  line-height: 130px;
  text-transform: uppercase;
}

.hello-text:nth-child(odd){
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $cyber-purple;
  // text-shadow: $cyber-purple 0px 0px 10px;
}

.hello-text:nth-child(even){
  text-shadow: $cyber-purple 0px 0px 10px;
  color: $cyber-purple;
  position: relative;
  z-index: 5;
}

@keyframes hello-text-anim{
  0%{
    bottom: -387%;
  }
  100%{
    bottom: 0%;
  }
}

img{
  height: 425px;
  width: auto;
}



.fbn-left{
  z-index: 4;
  position: absolute;
  bottom: 0%;
  left: 0%;
  // transform: translate(-50%, 0%);
  height: 100%;
  width: auto;
}
.fbn-side{
  filter: saturate(2);
  opacity: 0.3;
}

.square-trigger-1{
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 0%);
  height: 10% ;
  width: 100px;
  background-color: $cyber-purple;

}

.square-trigger-2{
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 0%);
  height: 100% ;
  width: 100px;
  background-color: transparent;
}

// .container-2{
//   width: 100vw;
//   height: 100vh;
//   font-size: 100px;
//   background-color: $cyber-purple;
//   // border: 20px solid $cyber-purple;
//   // scale: 0.5;
//   transform:  scale(0.5, 0.5) rotateX(15deg) rotateY(25deg) rotateZ(358deg) translateX(180%) translateY(45%);
//   overflow-x: hidden;
//   overflow-y: hidden;
//   font-family: "BlenderProBold";
// }

.container-2{
// background-color: $cyber-purple;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d5001d' fill-opacity='0.41'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.41'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
width: 100vw;
height: 100vh;
// overflow: scroll;
background-color: $cyber-black;
color: white;
cursor: none;
}



.navbar{
  display: flex;
  // justify-content: ;
  // width: 100%;
  // justify-content: stretch;
}
.nav-slider{
  background-image: url("./svg/nav-slider.svg");
  transform: rotateZ(180deg);
  background-position: 0;
  background-repeat: no-repeat;
  height: 40px;
  width: 50%;
  background-color: $cyber-blue;
}
.nav-buttons{
  background-color: $cyber-blue;
  padding: 8px;
  // display: inline-block;
}

.nav-buttons a {
  color: $cyber-red;
  text-decoration: none;
  font-size: 20px;
  font-family: 'BlenderProBold';
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  // display: inline-block;
  position: relative;
}

.nav-buttons a::before, .nav-buttons a::after{
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s linear;
}

.nav-buttons a::before{
  color: $cyber-red;
}
 .nav-buttons a::after{
  color: $cyber-black;
 }

.nav-buttons a:hover::after{
  transform: translate(-54%, -50%);
}
.nav-buttons a:hover::before{
  transform: translate(-52%, -50%);
}
.about{
 
}
@mixin infoh1{
  font-size: 40px;
  font-family: "BlenderProBold";
  text-transform: uppercase;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $cyber-purple;
  color: $cyber-black;
}
@mixin infop{
  font-size: 30px;
  padding: 10px;
  font-weight: 500;
  margin-left: 10px;
  color: $cyber-blue;
}
.about h1{
  @include infoh1;
}
.about p{
  @include infop;
}
.body{
  padding: 20px;
  background-color: $cyber-black;
  font-family: "BlenderProBook";
  
}

.skills h1{
  @include infoh1;
}

.projects h1{
  @include infoh1;
}

@mixin skillsColor{
  color: $cyber-blue;
  // background-color: $cyber-purple;
  font-size: 50px;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: $cyber-blue;
}



.icon{
  @include skillsColor;
}
// .fa-solid{
// @include skillsColor;
// }
.icon{
  @include skillsColor;
}
.next{
  background-color: $cyber-blue;
  border-radius: 50% 50% 50% 50%;
  height: 55px;
  position: relative;
  top: 5px;
  width: 55px;
}

.skills-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

// .skill-1{
//   display: flex;
//   gap: 20px;
//  }
//  .skill-2{
//    display: flex;
//    gap: 20px;
   
//  }


.cursor{
  display: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: $cyber-blue;
  text-align: center;
}
.cursor-text{
  font-size: 10px;
  width: 35px;
  height: 35px;
  padding: 5px;
  color: $cyber-blue;
  background-color: $cyber-black;
  font-family: "BlenderProBold";
  position: absolute;
  z-index: 102;
}
.cursor-techStack{
  font-size: 10px;
  width: 150px;
  padding: 8px;
  border-radius: 3px;
  color: $cyber-blue;
  background-color: $cyber-black;
  font-family: "BlenderProBold";
  position: absolute;
  z-index: 102;
  white-space: nowrap;
}
.cursor-video{
  height: 200px;
  width: 330px;
  border-radius: 8px;
  background-color: $cyber-blue;
  position: absolute;
  z-index: 102;
  transform: scale(0);
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  display: none;
  z-index: 101;
  background-color: $cyber-red;
}
html{
  cursor: none;
}
.projectList{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.projectTile{
  display: flex;
  gap: 20px;

}

.projectName{
  font-size: 30px;
  font-weight: 700;
  color: $cyber-black;
  text-transform: uppercase;
  font-family: "BlenderProBold";
  padding: 10px;
  background-color: $cyber-blue;
}
.videoElement{
  background-color: $vidElement-bg;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 20px;
  // width: 100px;
  text-align: center;
}
.LiveDemo{
  font-size: 18px;
  font-weight: 700;
 background-color: $vidElement-bg;
 padding: 10px;
 cursor: none;
}
.LiveDemo a{
  color: white;
  text-decoration: none;
  cursor: none;
}
.TechStack{
  font-size: 18px;
  font-weight: 700;
 background-color: $vidElement-bg;
 padding: 10px;
 cursor: none;
}

.Code{
  font-size: 18px;
  font-weight: 700;
 background-color: $vidElement-bg;
 padding: 10px 16px;
 cursor: none;
}

.Code a{
  color: white;
  text-decoration: none;
  cursor: none;
}

.projectNumber{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $cyber-blue;
}


.dot-liveDemo{
  border-radius: 50%;
  position: absolute;
  display: none;
  z-index: 101;
  background-color: $cyber-black;
}
.dot-liveDemo i{
  font-size: 10px;
  color: $cyber-blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
}

































body::-webkit-scrollbar{
  width: 0;
}

